dl,
dt,
dd,
ol,
ul,
li {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
    display: block;
    font-size: 0px;
    height: 0px;
    line-height: 0;
    width: 100%;
    overflow: hidden;
}

::selection {
    background: #009d86;
    color: #FFF;
    text-shadow: none;
}

::-moz-selection {
    background: #009d86;
    color: #FFF;
    text-shadow: none;
}

::-webkit-selection {
    background: #009d86;
    color: #FFF;
    text-shadow: none;
}

:active,
:focus {
    outline: none !important;
}

body {
    line-height: 1.5;
    color: #777;
    font-family: "Arial", "Microsoft YaHei", "黑体", sans-serif;
    background-color: #222;
}

a {
    text-decoration: none !important;
    color: #666;
}

a:hover {
    color: #009d86;
}

a img {
    border: none;
}

img {
    max-width: 100%;
}

iframe {
    border: none !important;
}

.logo_color {
    color: #009d86;
}

p,
pre,
ul,
ol,
dl,
dd,
blockquote,
address,
table,
fieldset,
form {
    margin-bottom: 30px;
}

#wrapper {
    position: relative;
    float: none;
    width: 1220px;
    margin: 0 auto;
    background-color: #222;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 157, 134, 0.3);
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: rgba(0, 157, 134, 0.7);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(24, 114, 117, 0.4);
}

.padding0 {
    padding: 0px;
}

.padding10 {
    padding: 10px;
}

.bg_1_1 {
    background-color: #111;
    margin-bottom: 1px;
}

#location_header {
    height: 100px;
    width: 100%;
    background-color: #222;
}

#loaction_language {
    padding: 30px;
    width: 100%;
    background-color: #151515;
    overflow: hidden;
}

.location_language_main {
    position: relative;
}

.location_language_main_sub01 {
    z-index: 11;
}

.location_language_main_sub02 {
    position: absolute;
    z-index: 12;
}

#loaction_language_country {
    background: url(img/location_world_bg.png) no-repeat center top;
    background-size: 718px;
}

#loaction_language_country a {
    color: #aaa;
}

#loaction_language_country a:hover {
    color: #009d86;
}

#loaction_language_country div img {
    margin: 5px;
    padding: 4px;
    background-color: #444;
}

#loaction_language_country div img:hover {
    background-color: #009d86;
}

.wheretobuy_flash {
    background-color: #111;
}

.wheretobuy_country {}

.wheretobuy_country_title {
    color: #999;
    padding: 5px;
    background-color: #282828;
}

.wheretobuy_country_title:hover {
    background-color: #333;
}

.wheretobuy_country div img {
    margin: 5px auto;
    padding: 3px;
    background-color: #444;
}

.wheretobuy_country div img:hover {
    background-color: #009d86;
}

.wheretobuy_country div span {
    float: left;
    padding: 2px;
    width: 100%;
    color: #666;
    line-height: 15px;
    height: 30px;
}

#loadingDiv {
    position: absolute;
    display: none;
    z-index: 2000;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7)
}

.myFramewheretobuyheight {
    height: 500px;
}

.wheretobuy_gs_cn_table-hover>tbody>tr>td:hover {
    background-color: #009d86;
    color: #ffffff;
}

#header {
    position: relative;
    background-color: #222;
    border-bottom: 1px solid #F5F5F5;
}

#header .container {
    position: relative;
}

#header.transparent-header {
    background: transparent;
    border-bottom: none;
    z-index: 199;
}

#header.semi-transparent {
    background-color: rgba(0, 0, 0, 0.8);
}

#header.transparent-header.floating-header {
    margin-top: 60px;
}

#header.transparent-header.floating-header .container {
    width: 1220px;
    padding: 0 40px;
    border-radius: 2px;
}

#header.transparent-header.floating-header.sticky-header .container {
    width: 1170px;
    padding: 0 15px;
}

#header.transparent-header+#slider,
#header.transparent-header+#page-title.page-title-parallax,
#header.transparent-header+#google-map,
#slider+#header.transparent-header {
    top: -100px;
    margin-bottom: -100px;
}

#header.transparent-header.floating-header+#slider,
#header.transparent-header.floating-header+#google-map {
    top: -160px;
    margin-bottom: -160px;
}

#header.transparent-header+#page-title.page-title-parallax .container {
    z-index: 5;
    padding-top: 100px;
}

#header.full-header {
    border-bottom-color: rgba(0, 0, 0, 0.0);
}

body.stretched #header.full-header .container {
    width: 100%;
    padding: 0 30px;
}

#header.transparent-header.full-header # {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#slider+#header.transparent-header.full-header # {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: none;
}

#logo {
    position: relative;
    float: left;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    line-height: 100%;
    margin-right: 40px;
}

#header.full-header #logo {
    padding-right: 30px;
    margin-right: 30px;
}

#header.transparent-header.full-header #logo {
    border-right-color: rgba(0, 0, 0, 0.1);
}

#logo a {
    display: block;
    color: #000;
}

#logo img {
    display: block;
    max-width: 100%;
}

#logo a.standard-logo {
    display: block;
}

#logo a.retina-logo {
    display: none;
}

#primary-menu {
    height: 50px;
}

#header.full-header #primary-menu>ul {
    float: left;
    padding-right: 15px;
    margin-right: 15px;
}

#header.transparent-header.full-header #primary-menu>ul {
    border-right-color: rgba(0, 0, 0, 0.1);
}

#primary-menu-trigger,
#page-submenu-trigger {
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

#primary-menu ul {
    list-style: none;
    height: 50px;
    margin: 0;
}

#primary-menu>ul {
    float: left;
    margin-top: 50px;
}

#primary-menu ul li {
    position: relative;
    float: left;
    margin-left: 2px;
}

#primary-menu ul li.mega-menu {
    position: inherit;
}

#primary-menu ul li:first-child {
    margin-left: 0;
}

#primary-menu ul li a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    color: #777777;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    -webkit-transition: height .4s ease, line-height .4s ease, margin .4s ease, padding .4s ease;
    -o-transition: height .4s ease, line-height .4s ease, margin .4s ease, padding .4s ease;
    transition: height .4s ease, line-height .4s ease, margin .4s ease, padding .4s ease;
}

#primary-menu ul li span {
    display: none;
}

#primary-menu ul li i {
    position: relative;
    font-size: 14px !important;
    top: 1px;
    line-height: 99px;
    width: 14px;
    text-align: center;
    margin-right: 6px;
    -webkit-transition: line-height .4s ease;
    -o-transition: line-height .4s ease;
    transition: line-height .4s ease;
}

#primary-menu>ul>li:hover a,
#primary-menu>ul>li.current a {
    color: #009d86;
}

#primary-menu>ul>li.sub-menu>a>div {}

#primary-menu ul ul,
#primary-menu ul li .mega-menu-content {
    display: none;
    position: absolute;
    border-top: 2px solid #009d86;
    height: auto;
    z-index: 199;
    top: 100px;
    left: 0;
    margin: 0;
}

#primary-menu ul ul ul {
    top: -2px !important;
    left: 218px;
}

#primary-menu ul ul.menu-pos-invert,
#primary-menu ul li .mega-menu-content.menu-pos-invert {
    left: auto;
    right: 0;
}

#primary-menu ul ul ul.menu-pos-invert {
    right: 218px;
}

#primary-menu ul ul li {
    float: none;
    margin: 0;
}

#primary-menu ul ul li:first-child {
    border-top: 0;
}

#primary-menu ul ul a {
    font-size: 12px;
    font-weight: 600;
    color: #666 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border: 0 !important;
    letter-spacing: 0;
    font-family: 'Lato', sans-serif;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#primary-menu ul ul li:hover>a {
    padding-left: 18px;
    color: #009d86 !important;
}

#primary-menu ul ul i {
    line-height: inherit;
}

#primary-menu ul ul>li.sub-menu>a,
#primary-menu ul ul>li.sub-menu:hover>a {
    background-image: url("img/submenu.png");
    background-position: right center;
    background-repeat: no-repeat;
}

.menu_productlist {
    height: 200px;
}

#primary-menu ul li .mega-menu-content,
#primary-menu ul li.mega-menu-small .mega-menu-content {
    width: 400px;
}

#primary-menu ul li.mega-menu .mega-menu-content,
.floating-header.sticky-header #primary-menu ul li.mega-menu .mega-menu-content {
    margin: 0 15px;
    width: 1140px;
    top: 100px;
}

.floating-header #primary-menu ul li.mega-menu .mega-menu-content {
    margin: 0;
    width: 1220px;
}

body.stretched .container-fullwidth #primary-menu ul li.mega-menu .mega-menu-content {
    margin: 0 60px;
}

body.stretched #header.full-header #primary-menu ul li.mega-menu .mega-menu-content {
    margin: 0 30px;
}

#primary-menu ul li.mega-menu .mega-menu-content.style-2 {
    padding: 0 10px;
}

#primary-menu ul li .mega-menu-content ul {
    display: block;
    position: relative;
    top: 0;
    min-width: inherit;
}

#primary-menu ul li .mega-menu-content>ul {
    float: left;
}

#primary-menu ul li .mega-menu-content ul:not(.megamenu-dropdown) {
    display: block !important;
    opacity: 1 !important;
    top: 0;
    left: 0;
}

#primary-menu ul li .mega-menu-content.col-2>ul,
#primary-menu ul li .mega-menu-content.col-3>ul,
#primary-menu ul li .mega-menu-content.col-4>ul,
#primary-menu ul li .mega-menu-content.col-5>ul {
    width: 50%;
    margin: 0;
    border-left: 1px solid #F2F2F2;
}

#primary-menu ul li .mega-menu-content.col-3>ul {
    width: 33.33%;
}

#primary-menu ul li .mega-menu-content.col-3>ul:hover {
    background-color: rgba(34, 34, 34, 0.7);
}

#primary-menu ul li .mega-menu-content.col-4>ul {
    width: 25%;
}

#primary-menu ul li .mega-menu-content.col-4>ul:hover {
    background-color: rgba(34, 34, 34, 0.7);
}

#primary-menu ul li .mega-menu-content.col-5>ul {
    width: 16.6%;
}

#primary-menu ul li .mega-menu-content.col-5>ul:hover {
    background-color: rgba(34, 34, 34, 0.7);
}

#primary-menu ul li .mega-menu-content>ul:first-child {
    border-left: 0;
}

#primary-menu ul li .mega-menu-content ul a {
    height: 42px;
    line-height: 42px;
}

#primary-menu ul li .mega-menu-content ul {
    width: 100%;
    border: 0;
    box-shadow: none;
    background-color: transparent;
}

#primary-menu ul li .mega-menu-content.style-2>ul {
    padding: 30px 20px;
}

#primary-menu ul li .mega-menu-content.style-2>ul>li.mega-menu-title {
    margin-top: 20px;
}

#primary-menu ul li .mega-menu-content.style-2>ul>li.mega-menu-title:first-child {
    margin-top: 0;
}

#primary-menu ul li .mega-menu-content.style-2>ul>li.mega-menu-title>a {
    font-size: 13px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase !important;
    margin-bottom: 15px;
    color: #444 !important;
    padding: 0;
    height: auto !important;
    line-height: 1.3 !important;
}

#primary-menu ul li .mega-menu-content.style-2>ul>li.mega-menu-title:hover>a {
    background-color: transparent;
    font-weight: bold;
    padding: 0;
    color: #444 !important;
}

#primary-menu ul li .mega-menu-content.style-2>ul>li.mega-menu-title>a:hover {
    color: #009d86 !important;
}

#primary-menu ul ul i {
    line-height: inherit;
}

#primary-menu ul li .mega-menu-content.style-2>ul>li.mega-menu-title.sub-menu>a,
#primary-menu ul li .mega-menu-content.style-2>ul>li.mega-menu-title.sub-menu:hover>a {
    background: none;
}

#primary-menu ul li .mega-menu-content.style-2 li {
    border: 0;
}

#primary-menu ul li .mega-menu-content.style-2 ul a {
    padding-left: 5px;
    height: 25px !important;
    line-height: 25px !important;
}

#primary-menu ul li .mega-menu-content.style-2 ul a:hover {
    padding-left: 12px;
}

#primary-menu ul li .mega-menu-content.style-3>ul {
    padding: 15px 20px;
}

#primary-menu ul li .mega-menu-content.style-3>ul>li.mega-menu-title {
    margin-top: 20px;
}

#primary-menu ul li .mega-menu-content.style-3>ul>li.mega-menu-title:first-child {
    margin-top: 0;
}

#primary-menu ul li .mega-menu-content.style-3>ul>li.mega-menu-title>a {
    font-size: 13px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase !important;
    margin-bottom: 15px;
    color: #999 !important;
    padding: 0;
    height: auto !important;
    line-height: 1.3 !important;
}

#primary-menu ul li .mega-menu-content.style-3>ul>li.mega-menu-title:hover>a {
    background-color: transparent;
    font-weight: bold;
    padding: 0;
    color: #999 !important;
}

#primary-menu ul li .mega-menu-content.style-3>ul>li.mega-menu-title>a:hover {
    color: #009d86 !important;
}

#primary-menu ul ul i {
    line-height: inherit;
}

#primary-menu ul li .mega-menu-content.style-3>ul>li.mega-menu-title.sub-menu>a,
#primary-menu ul li .mega-menu-content.style-3>ul>li.mega-menu-title.sub-menu:hover>a {
    background: none;
}

#primary-menu ul li .mega-menu-content.style-3 li {
    border: 0;
}

#primary-menu ul li .mega-menu-content-awards {
    width: 700px;
    top: 50px;
}

#primary-menu ul li .mega-menu-content-awards a {
    padding: 0px;
}

#primary-menu ul li .mega-menu-content-awards a:hover {
    padding: 0px;
}

#primary-menu ul li .mega-menu-content-awards img {
    width: 63px;
    height: 63px;
    padding: 5px;
    background-color: rgba(34, 34, 34, 0.5);
    margin: 5px;
    border-radius: 10px;
}

#primary-menu ul li .mega-menu-content-awards img:hover {
    width: 63px;
    height: 63px;
    background-color: rgba(0, 157, 134, 0.5);
}

#primary-menu.sub-title>ul>li,
#primary-menu.sub-title.style-2>div>ul>li {
    background: url("img/bg_direction_nav_gs.png") no-repeat right center;
    margin-left: 1px;
}

#primary-menu.sub-title ul li:first-child {
    padding-left: 0;
    margin-left: 0;
}

#primary-menu.sub-title ul li a {
    height: auto;
    line-height: 14px;
    padding: 27px 20px 32px;
    text-transform: uppercase;
    border-top: 5px solid transparent;
}

#primary-menu.sub-title ul li span {
    display: block;
    margin-top: 10px;
    line-height: 12px;
    font-size: 11px;
    font-weight: 400;
    color: #888;
    text-transform: capitalize;
}

#primary-menu.sub-title ul li i {
    line-height: 13px;
}

#primary-menu.sub-title>ul>li:hover>a,
#primary-menu.sub-title>ul>li.current>a,
#primary-menu.sub-title>div>ul>li:hover>a,
#primary-menu.sub-title>div>ul>li.current>a {
    background-color: #009d86;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-top-color: rgba(0, 0, 0, 0.1);
}

#primary-menu.sub-title>ul>li:hover span,
#primary-menu.sub-title>ul>li.current span,
#primary-menu.sub-title.style-2>div>ul>li:hover span,
#primary-menu.sub-title.style-2>div>ul>li.current span {
    color: #EEE;
}

#primary-menu.sub-title.style-2 ul ul span {
    display: none;
}

#top-search,
#top-cart,
#side-panel-trigger {
    float: right;
    margin: 20px 0 5px 5px;
}

#top-cart {
    position: relative;
}

#top-search a,
#top-cart a,
#top-search a {
    z-index: 11;
}

#top-search a i {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

body.top-search-open #top-search a i.icon-search3,
#top-search a i.icon-line-cross {
    opacity: 0;
}

body.top-search-open #top-search a i.icon-line-cross {
    opacity: 1;
    z-index: 11;
    font-size: 16px;
}

#top-cart a:hover {
    color: #009d86;
}

#top-search form {
    opacity: 0;
    z-index: -2;
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    padding: 0 15px;
    margin: 0;
    top: 0;
    left: 0;
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

body.top-search-open #top-search form {
    opacity: 1;
    z-index: 10;
}

#top-search form input {
    box-shadow: none !important;
    pointer-events: none;
    border-radius: 0;
    border: 0;
    outline: 0 !important;
    font-size: 32px;
    padding: 10px 80px 10px 0;
    height: 100%;
    background-color: transparent;
    color: #333;
    font-weight: 700;
    margin-top: 0 !important;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
}

body:not(.device-sm):not(.device-xs):not(.device-xxs) #header.full-header #top-search form input {
    padding-left: 40px;
}

body:not(.device-sm):not(.device-xs):not(.device-xxs) .container-fullwidth #top-search form input {
    padding-left: 60px;
}

body.top-search-open #top-search form input {
    pointer-events: auto;
}

body:not(.device-sm):not(.device-xs):not(.device-xxs) #header.transparent-header:not(.sticky-header):not(.full-header):not(.floating-header) #top-search form input {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

#top-search form input::-moz-placeholder {
    color: #555;
    opacity: 1;
    text-transform: uppercase;
}

#top-search form input:-ms-input-placeholder {
    color: #555;
    text-transform: uppercase;
}

#top-search form input::-webkit-input-placeholder {
    color: #555;
    text-transform: uppercase;
}

#primary-menu .container #top-search form input,
.sticky-header #top-search form input {
    border: none !important;
}

.top-search {
    height: 30px;
}

.searchtext {
    background-color: #444;
    border: none;
    color: #fff;
    float: left;
}

.form-control2 {
    display: block;
    width: 75%;
    height: 40px;
    padding: 0px 5px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #eee;
    background-color: #333;
    background-image: none;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 157, 134, .075);
    box-shadow: inset 0 1px 1px rgba(0, 157, 134, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control2:focus {
    color: #009d86;
    border-color: #009d86;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 157, 134, .075), 0 0 8px rgba(0, 157, 134, .6);
    box-shadow: inset 0 1px 1px rgba(0, 157, 134, .075), 0 0 8px rgba(0, 157, 134, .6);
}

.form-control2::-moz-placeholder {
    color: #555;
    opacity: 1;
}

.form-control2:-ms-input-placeholder {
    color: #555;
}

.form-control2::-webkit-input-placeholder {
    color: #666;
}

.form-control2[disabled],
.form-control2[readonly],
fieldset[disabled] .form-control2 {
    background-color: #222;
    opacity: 1;
}

.form-control2[disabled],
fieldset[disabled] .form-control2 {
    cursor: not-allowed;
}

.searchbutton {
    background-color: #009d86;
    border: none;
    color: #fff;
    float: left;
    height: 40px;
    padding: 0 5px;
}

.form-control {
    display: block;
    width: 85%;
    height: 28px;
    padding: 0px 5px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #111;
    background-image: none;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 157, 134, .075);
    box-shadow: inset 0 1px 1px rgba(0, 157, 134, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    color: #009d86;
    border-color: #009d86;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 157, 134, .075), 0 0 8px rgba(0, 157, 134, .6);
    box-shadow: inset 0 1px 1px rgba(0, 157, 134, .075), 0 0 8px rgba(0, 157, 134, .6);
}

.form-control::-moz-placeholder {
    color: #555;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #555;
}

.form-control::-webkit-input-placeholder {
    color: #666;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
}

.form-control[disabled],
fieldset[disabled] .form-control {
    cursor: not-allowed;
}

.btn {
    color: #006354;
    display: inline-block;
    padding: 3px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:hover,
.btn:focus,
.btn.focus {
    color: #009d86;
    text-decoration: none;
}

.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

a.btn.disabled,
fieldset[disabled] a.btn {
    pointer-events: none;
}

.top-global-content {
    z-index: 100;
    position: absolute;
    width: 320px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 20px 50px 10px rgba(0, 0, 0, 0.05);
    border-top: 2px solid #009d86;
    top: 80px;
    right: 0px;
    left: auto;
    -webkit-transition: opacity .5s ease, top .4s ease;
    -o-transition: opacity .5s ease, top .4s ease;
    transition: opacity .5s ease, top .4s ease;
}

.top-global-open .top-global-content {
    opacity: 1;
    z-index: 101;
    margin-top: 0;
}

.top-global_iconlink {
    color: #969696;
}

#top-global-container {
    display: none;
}

.top-global-containerbox {}

.top-global-content {
    padding: 5px;
}

.top-global_location {
    padding-left: 5px;
    height: 28px;
    line-height: 28px;
    color: #bbb;
    padding: 5px 5px;
}

.top-global_location a {
    color: #bbb;
}

.top-global_location a:hover {
    color: #009d86;
}

.top-global_location_list img {
    float: left;
    border: 2px solid #555;
    margin: 3px auto;
}

.top-global_location_list img:hover {
    border: 2px solid #009d86;
}

.top-search1-content {
    z-index: 101;
    position: absolute;
    width: 300px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 20px 50px 10px rgba(0, 0, 0, 0.05);
    border-top: 2px solid #009d86;
    top: 80px;
    right: 0px;
    left: auto;
    -webkit-transition: opacity .5s ease, top .4s ease;
    -o-transition: opacity .5s ease, top .4s ease;
    transition: opacity .5s ease, top .4s ease;
}

.top-search1-open .top-search1-content {
    opacity: 1;
    z-index: 102;
    margin-top: 0;
}

.top-search1_iconlink {
    color: #969696;
}

#top-search1-container {
    display: none;
}

.top-search1-content {
    padding: 5px;
}

.searchinput {
    background-color: #111;
    border: none;
    color: #555;
    float: left;
    width: 100%;
    height: 40px;
    padding: 0px 5px;
    font-size: 16px;
    line-height: 1.42857143;
}

.searchicon {
    background-color: transparent;
    border: none;
    width: 40px;
    float: left;
    margin-left: -40px;
    font-size: 24px;
}

#top-cart {
    margin-right: 0;
}

.lan_location {
    padding-left: 5px;
    height: 28px;
    line-height: 28px;
    color: #009d86;
    padding: 5px 0px;
}

.lan_iconlink {
    color: #006354;
}

.lan_iconlink span {
    padding: 5px;
}

.lan_iconlink:hover {
    color: #009d86;
}

.top-cart-content {
    padding: 5px;
}

.lan_location_list img {
    float: left;
    border: 2px solid #333;
    margin: 3px auto;
}

.lan_location_list img:hover {
    border: 2px solid #009d86;
}

#header,
#,
#logo img,
#primary-menu:not(.style-2),
#primary-menu:not(.style-2)>ul {
    height: 100px;
    -webkit-transition: height .4s ease, opacity .3s ease;
    -o-transition: height .4s ease, opacity .3s ease;
    transition: height .4s ease, opacity .3s ease;
}

#header.sticky-style-2 {
    height: 161px;
}

#header.sticky-style-3 {
    height: 181px;
}

#header.sticky-style-2 #,
#header.sticky-style-3 # {
    height: 60px;
}

#primary-menu>ul>li>ul,
#primary-menu>ul>li>.mega-menu-content,
#primary-menu>ul>li.mega-menu>.mega-menu-content {
    -webkit-transition: top .4s ease;
    -o-transition: top .4s ease;
    transition: top .4s ease;
}

#top-search,
#top-cart {
    -webkit-transition: margin .4s ease, opacity .3s ease;
    -o-transition: margin .4s ease, opacity .3s ease;
    transition: margin .4s ease, opacity .3s ease;
}

.sliderproductsummary {
    width: 100%;
    background-color: #1d1d1d;
}

.sliderproductsummary_text h1 {
    font-size: 36px;
    color: #a2a2a2;
    font-weight: normal;
}

.sliderproductsummary_text h2 {
    font-size: 12px;
    color: #6d6d6d;
    font-weight: normal;
    line-height: 20px;
}

.productsmanllbanner {
    background-color: #000;
    overflow: hidden;
}

.productsmanllbanner_text {
    font-size: 36px;
    padding: 40px 0;
    color: #FFF;
}

.productlist {
    margin-bottom: 30px;
    background-color: #222;
    padding: 10px;
    height: auto;
    overflow: hidden;
    position: relative;
}

.productlist:hover {
    background-color: #333;
}

.product_picandstatus {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    width: 100%;
}

.productlist_img {
    float: left;
    background-color: #111;
    margin: 0 auto;
    z-index: 5;
}

.productlist_img:hover {
    background-color: #222;
    z-index: 5;
}

.productlist_img img {
    margin: 0 auto;
    width: 100%;
}

.productlist_logo {
    top: 10px;
    left: 10px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 41px;
    height: 54px;
    filter: alpha(opacity=20);
    opacity: 0.2;
}

.productlist_status {
    height: 85px;
    right: 0px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 82px;
}

.product_colorlist {
    float: left;
    margin-top: -24px;
    z-index: 11;
    min-height: 18px;
    max-height: 24px;
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

dl.product_colorlist_list {
    float: left;
    min-height: 18px;
    max-height: 24px;
    width: 100%;
}

dl.product_colorlist_list dd {
    float: left;
    list-style: none;
    width: 13%;
    min-height: 18px;
    max-height: 24px;
    margin-left: 8px;
    margin-top: 2px;
    border: #555 solid 1px;
    filter: alpha(opacity=100);
    opacity: 1.0;
}

dl.product_colorlist_list dd:hover {
    border: #fff solid 1px;
}

dl.product_colorlist_list dd a {
    float: left;
    list-style: none;
    width: 100%;
    min-height: 18px;
    max-height: 24px;
    cursor: pointer;
}

.press_event {
    padding: 10px;
    background-color: #111;
    margin-bottom: 10px;
}

.press_event img {
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
    background-color: #555;
}

.press_event img:hover {
    background-color: #009d86;
}

.leftsubmenu {
    background-color: #333;
}

.leftsubmenulist {
    border-bottom: 1px solid #111;
    background-color: #282828;
}

.leftsubmenulist span {
    color: #606060;
}

.leftsubmenulist span:hover {
    color: #009d86;
}

.leftsubmenulist:hover {
    background-color: #323232;
}

.leftsubmenulist a {
    color: #737373;
}

.leftsubmenulist a:hover {
    color: #009d86;
}

.rightmaincontent {
    background-color: #181818;
    padding: 10px 10px;
}

.rightmaincontentlist {
    padding: 10px;
    background-color: #282828;
    border-bottom: 1px solid #181818;
}

.rightmaincontentlist:hover {
    background-color: #202020;
}

.rightmaincontentlist_title a {
    color: #999;
}

.rightmaincontentlist_summary a {
    color: #555;
}

.rightmaincontentlist_summary h6 {
    color: #006254;
}

.rightmaincontent_awardsyear {
    background-color: #333;
    border-radius: 10px;
    border: 2px solid #181818;
    margin-top: 3px;
    text-align: center;
}

.rightmaincontent_awardsyear:hover {
    background-color: #009d86;
}

.rightmaincontent_awardsyear a {
    color: #ddd;
}

.rightmaincontent_awardslist {
    margin: 5px;
    padding: 10px;
    background-color: #222;
    border-radius: 10px;
}

.rightmaincontent_awardslist:hover {
    margin: 5px;
    padding: 10px;
    background-color: #292929;
    border-radius: 10px;
}

.rightmaincontent_awardslist img {
    padding: 10px;
    background-color: #111;
    border-radius: 10px;
}

.rightmaincontent_awardslist img:hover {
    background-color: #000;
}

.rightmaincontent_awardslist h5 {
    border-bottom: 1px solid #181818;
    padding-bottom: 5px;
    color: #666;
}

.rightmaincontent_awardslist h5 a {
    color: rgba(0, 157, 134, 0.6);
}

.rightmaincontent_awardslist h5 a:hover {
    color: rgba(0, 157, 134, 1);
}

.productlist_title {
    width: 100%;
    height: 25px;
    color: #999;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
}

.productlist_summary {
    width: 100%;
    min-height: 42px;
    height: auto;
    overflow: hidden;
    font-size: 12px;
    color: #777777;
    line-height: 14px;
}

.productcontentbanner {
    width: 100%;
    overflow: hidden;
    background-color: #000000;
}

.listpagenums {
    text-align: center;
}

.listpagenums a {
    padding: 0px 3px;
}

.listpagenums_font1 {
    padding: 5px;
    color: #eee;
    font-size: 14px;
    background-color: #009d86;
}

.listpagenums_font2 {
    padding: 5px;
    color: #acacac;
    font-size: 14px;
    background-color: #555;
}

.listpagenums_box {
    background-color: #34393e;
    border: none;
    width: 50px;
    height: 30px;
    color: #009d86;
}

.listpagenums_btn {
    border: none;
    color: #CCCCCC;
    width: 30px;
    height: 30px;
    background-color: #474d54;
}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: #111111;
    border: none;
}

.nav-tabs {
    border-bottom: none;
    margin-top: 5px;
}

.nav-tabs>li {
    float: left;
    margin-bottom: 0px;
    min-width: 93px;
    text-align: center;
    margin-top: 2px;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: none;
    border-radius: 4px 4px 0 0;
    color: #aaa;
    background-color: #2e2e2e;
}

.nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #009d86;
    cursor: default;
    background-color: #111111;
    border: none;
    border-bottom-color: transparent;
}

.tab-content>.tab-pane {
    background-color: #111;
    overflow: hidden;
    font-size: 14px;
    color: #aaa;
}

.contentimghover {
    filter: alpha(opacity=20);
    opacity: 0.2;
}

.contentimghover:hover {
    filter: alpha(opacity=850);
    opacity: 0.85;
}

.productcontent_padding15 {
    padding: 15px;
}

.productcontent_design {
    padding: 20px 0px;
    background-color: #000000;
}

.productcontent_awards {
    padding: 10px;
}

.productcontent_awards ul {
    padding: 0;
    margin: 0 auto;
}

.productcontent_awards ul li {
    list-style: none;
    background-color: #222;
    border: 1px solid #000;
    text-align: center;
    padding: 15px;
}

.productcontent_awards ul li:hover {
    background-color: #313131;
}

.productcontent_awards ul li img {
    width: 130px;
    height: 130px;
}

.productcontent_video {
    padding: 10px;
}

.productcontent_video ul {
    padding: 0;
    margin: 0 auto;
}

.productcontent_video ul li {
    list-style: none;
    background-color: #222;
    border: 3px solid #000;
    text-align: center;
    padding: 2px;
}

.productcontent_video ul li:hover {
    background-color: #313131;
}

.productcontent_video ul li img {
    width: 100%;
}

.productcontent_video ul li span {
    width: 100%;
}

.productcontent_video {
    padding: 10px;
}

.product_design_font80_top {
    color: #aaa;
    font-size: 80px;
    margin-top: 30%;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
    padding: 0 15px;
}

.product_design_font100 {
    color: #aaa;
    font-size: 100px;
    padding: 0px 15px;
}

.product_design_font90 {
    color: #aaa;
    font-size: 90px;
    padding: 0px 15px;
}

.product_design_font80 {
    color: #aaa;
    font-size: 80px;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
    padding: 0px 15px;
}

.product_design_font70 {
    color: #aaa;
    font-size: 70px;
    padding: 0px 15px;
}

.product_design_font60 {
    color: #aaa;
    font-size: 60px;
    padding: 0px 15px;
}

.product_design_font50 {
    color: #aaa;
    font-size: 50px;
    padding: 0px 15px;
}

.product_design_font40 {
    color: #aaa;
    font-size: 40px;
    padding: 0px 15px;
}

.product_design_font38 {
    color: #aaa;
    font-size: 38px;
    padding: 0px 15px;
}

.product_design_font36 {
    color: #aaa;
    font-size: 36px;
    padding: 0px 15px;
}

.product_design_font34 {
    color: #aaa;
    font-size: 34px;
    padding: 0px 15px;
}

.product_design_font32 {
    color: #aaa;
    font-size: 32px;
    padding: 0px 15px;
}

.product_design_font30 {
    color: #aaa;
    font-size: 30px;
    padding: 0px 15px;
}

.product_design_font28 {
    color: #aaa;
    font-size: 28px;
    padding: 0px 15px;
}

.product_design_font26 {
    color: #aaa;
    font-size: 26px;
    padding: 0px 15px;
}

.product_design_font24 {
    color: #aaa;
    font-size: 24px;
    padding: 0px 15px;
}

.product_design_font22 {
    color: #aaa;
    font-size: 22px;
    padding: 0px 15px;
}

.product_design_font20 {
    color: #aaa;
    font-size: 20px;
    padding: 0px 15px;
}

.product_design_font18 {
    color: #aaa;
    font-size: 18px;
    padding: 0px 15px;
}

.product_design_font16 {
    color: #aaa;
    font-size: 16px;
    padding: 0px 15px;
}

.product_design_font14 {
    color: #aaa;
    font-size: 14px;
    padding: 0px 15px;
}

.product_design_font12 {
    color: #aaa;
    font-size: 12px;
}

.font_color_white {
    color: #ffffff;
}

.font_color_black {
    color: #000000;
}

.font_color_shenhui {
    color: #555555;
}

.font_color_green {
    color: #009d86;
}

.border_color_white {
    border: 1px solid #ffffff;
}

.font_color_blue {
    background-image: -webkit-gradient(linear, left 0, right 0, from(rgba(29, 255, 255, 1)), to(rgba(14, 88, 133, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.border_color_black {
    border: 1px solid #000000;
}

.border_color_shenhui {
    border: 1px solid #555555;
}

.border_color_red {
    border: 1px solid #ff0000;
}

.border_color_blue {
    border: 1px solid #0000ff;
}

.border_color_yellow {
    border: 1px solid #fff000;
}

.border_color_green {
    border: 1px solid #00ff00;
}

.product_design_floatbgcolor {
    background-color: #000;
    background: -moz-linear-gradient(180deg, #000, transparent 80%);
    background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#000), to(transparent));
}

.product_design_border_bg01 {
    background-color: #282828;
    border: 1px solid #3c3c3c;
}

.p_design_box_pt_r {
    position: relative;
}

.p_design_box_img01 {
    float: left;
    z-index: 11;
}

.p_design_box_img02 {
    position: absolute;
    z-index: 12;
}

.p_design_box_img03 {
    position: absolute;
    z-index: 13;
}

.p_design_box_img04 {
    position: absolute;
    z-index: 14;
}

.p_design_box_img05 {
    position: absolute;
    z-index: 15;
}

.p_design_box_img06 {
    position: absolute;
    z-index: 16;
}

.p_design_box_img07 {
    position: absolute;
    z-index: 17;
}

.p_design_box_img08 {
    position: absolute;
    z-index: 18;
}

.p_design_box_img09 {
    position: absolute;
    z-index: 19;
}

.p_design_box_img10 {
    position: absolute;
    z-index: 20;
}

.p_design_box_pt_r_01 {
    position: relative;
}

.p_design_box_01_img01 {
    float: left;
    z-index: 21;
}

.p_design_box_01_img02 {
    position: absolute;
    z-index: 22;
}

.p_design_box_01_img03 {
    position: absolute;
    z-index: 23;
}

.p_design_box_01_img04 {
    position: absolute;
    z-index: 24;
}

.p_design_box_01_img05 {
    position: absolute;
    z-index: 25;
}

.p_design_box_01_img06 {
    position: absolute;
    z-index: 26;
}

.p_design_box_01_img07 {
    position: absolute;
    z-index: 27;
}

.p_design_box_01_img08 {
    position: absolute;
    z-index: 28;
}

.p_design_box_01_img09 {
    position: absolute;
    z-index: 29;
}

.p_design_box_01_img10 {
    position: absolute;
    z-index: 30;
}

.maincontent {
    background-color: #111;
    overflow: hidden;
    font-size: 14px;
    color: #aaa;
    margin-bottom: 10px;
}

.productMap_sub {
    padding: 10px;
}

.productMap_sub ul {
    margin: 0;
    padding: 0;
}

.productMap_sub ul li {
    list-style: none;
    font-size: 14px;
}

.productMap_sub ul li h4 a {
    color: #4B4B4B;
}

.productMap_sub ul li h4 a:hover {
    color: #009d86;
}

.productMap_class {
    padding: 10px;
    width: 100%;
}

.productMap_class ul {
    margin: 0;
    padding: 0;
}

.productMap_class ul li {
    list-style: none;
    font-size: 14px;
    width: 100%
}

.productMap_class ul li div {
    background-color: #202020;
    width: 100%;
    padding-left: 10px;
}

.productMap_class ul li span {
    list-style: none;
    font-size: 16px;
    font-weight: bold;
}

.work-nav #filters {
    margin: 0;
    padding: 0;
    list-style: none;
}

.work-nav #filters li {
    margin: 0 10px 30px 0;
    padding: 0;
    float: left;
}

.work-nav #filters li a {
    color: #7F8289;
    font-size: 16px;
    display: block;
}

.work-nav #filters li a:hover {}

.work-nav #filters li a.selected {
    color: #DE5E60;
}

#thumbs {
    margin: 0;
    padding: 0px 15px 0 0;
}

#thumbs li {
    list-style-type: none;
}

.item-thumbs {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    cursor: pointer;
    padding-right: 0px;
}

.item-thumbs a+img {
    width: 100%;
}

.item-thumbs .hover-wrap {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 450ms ease-out 0s;
    -moz-transition: all 450ms ease-out 0s;
    -o-transition: all 450ms ease-out 0s;
    transition: all 450ms ease-out 0s;
    -webkit-transform: rotateY(180deg) scale(0.5, 0.5);
    -moz-transform: rotateY(180deg) scale(0.5, 0.5);
    -ms-transform: rotateY(180deg) scale(0.5, 0.5);
    -o-transform: rotateY(180deg) scale(0.5, 0.5);
    transform: rotateY(180deg) scale(0.5, 0.5);
}

.item-thumbs:hover .hover-wrap,
.item-thumbs.active .hover-wrap {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: rotateY(0deg) scale(1, 1);
    -moz-transform: rotateY(0deg) scale(1, 1);
    -ms-transform: rotateY(0deg) scale(1, 1);
    -o-transform: rotateY(0deg) scale(1, 1);
    transform: rotateY(0deg) scale(1, 1);
}

.item-thumbs .hover-wrap .overlay-img {
    position: absolute;
    width: 95%;
    height: 100%;
    opacity: 0.60;
    filter: alpha(opacity=60);
    background: #000;
}

.item-thumbs .hover-wrap .overlay-img-thumb {
    position: absolute;
    border-radius: 60px;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -16px;
    color: #fff;
    font-size: 32px;
    line-height: 1em;
    opacity: 1;
    filter: alpha(opacity=100);
}

ul.portfolio-categ {
    margin: 10px 0 30px 0;
    padding: 0;
    float: left;
    list-style: none;
}

ul.portfolio-categ li {
    margin: 0;
    padding: 0 20px 0 0;
    float: left;
    list-style: none;
    font-size: 13px;
    font-weight: 600;
}

ul.portfolio-categ li a {
    display: block;
    padding: 35x 0 35x 0;
    color: #353535;
}

ul.portfolio-categ li.active a:hover,
ul.portfolio-categ li a:hover,
ul.portfolio-categ li a:focus,
ul.portfolio-categ li a:active {
    text-decoration: none;
    outline: 0;
}

.top-wrapper {
    margin-bottom: 20px;
}

.pagenavigate {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #555;
    float: left;
    margin: 0 2px;
}

.pagenext,
.pagelast,
.pagefirst,
.pagepre {
    width: 40px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    float: left;
    margin: 0 1px;
}

.pagenavigate a {
    width: 20px;
    height: 20px;
    color: #acacac;
    text-decoration: none;
}

.pagenext a,
.pagelast a,
.pagefirst a,
.pagepre a {
    width: 40px;
    height: 20px;
    color: #666;
    font-size: 12px;
    text-decoration: none;
}

.pagenavigateon {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #eee!important;
    background-color: #009d86;
}

.pagenavigateon a {
    color: #fff;
    text-decoration: none;
}

.pagestextbox {
    border: 1px #ccc solid;
    background-color: #c5ecff;
    font-size: 12px;
    color: #000;
    width: 25px;
    height: 16px;
    line-height: 16px;
}

.pagesbtn {
    border: none;
    width: 25px;
    height: 20px;
    line-height: 20px;
    background-color: #eee;
    color: #333;
    font-size: 12px;
    text-align: center;
}

.pagesfont {
    margin: 3px;
    padding: 4px;
    background-color: #c5ecff;
    color: #000;
    font-size: 12px;
}

.pagesfont2 {
    margin: 3px;
    padding: 4px;
    background-color: #fff;
    color: #000;
    font-size: 12px;
    background-color: #eee;
}

.footer {
    background-color: #2b2b2b;
}

.footer_links {
    padding: 15px 15px;
}

.footer_links ul {
    margin: 0;
    padding: 0;
}

.footer_links ul li {
    list-style: none;
}

.footer_links ul li a {
    color: #666666;
}

.footer_links ul li a:hover {
    color: #009d86;
}

.footer_links ul li span a {
    color: #999999;
    font-size: 16px;
}

.footer_links ul li span a:hover {
    color: #009d86;
}

.copyright {
    background-color: #242424;
    padding: 5px;
}

.copyrightcontent {
    line-height: 25px;
    color: #666;
}

.iconlist {
    padding: 0px 0px;
}

.iconlist ul {
    padding: 0;
    margin: 0;
}

.iconlist ul li {
    float: left;
    list-style: none;
    display: inline;
    margin-left: 5px;
}

.iconlist ul li.icon1 {
    width: 40px;
    height: 40px;
    background: url(img/icon1.png) no-repeat 0px 0px;
    vertical-align: middle;
}

.iconlist ul li.icon1:hover {
    width: 40px;
    height: 40px;
    background: url(img/icon1.png) no-repeat 0px -40px;
    vertical-align: middle;
    cursor: pointer;
}

.iconlist ul li.icon2 {
    width: 40px;
    height: 40px;
    background: url(img/icon1.png) no-repeat -40px 0px;
    vertical-align: middle;
}

.iconlist ul li.icon2:hover {
    width: 40px;
    height: 40px;
    background: url(img/icon1.png) no-repeat -40px -40px;
    vertical-align: middle;
    cursor: pointer;
}

.iconlist ul li.icon3 {
    width: 40px;
    height: 40px;
    background: url(img/icon1.png) no-repeat -80px 0px;
    vertical-align: middle;
}

.iconlist ul li.icon3:hover {
    width: 40px;
    height: 40px;
    background: url(img/icon1.png) no-repeat -80px -40px;
    vertical-align: middle;
    cursor: pointer;
}

.iconlist ul li.icon4 {
    width: 40px;
    height: 40px;
    background: url(img/icon1.png) no-repeat -120px 0px;
    vertical-align: middle;
}

.iconlist ul li.icon4:hover {
    width: 40px;
    height: 40px;
    background: url(img/icon1.png) no-repeat -120px -40px;
    vertical-align: middle;
    cursor: pointer;
}

.iconlist ul li.icon5 {
    width: 40px;
    height: 40px;
    background: url(img/icon1.png) no-repeat -160px 0px;
    vertical-align: middle;
}

.iconlist ul li.icon5:hover {
    width: 40px;
    height: 40px;
    background: url(img/icon1.png) no-repeat -160px -40px;
    vertical-align: middle;
    cursor: pointer;
}

.iconlist ul li.icon1_cn {
    width: 40px;
    height: 40px;
    background: url(img/icon_cn1.png) no-repeat 0px 0px;
    vertical-align: middle;
}

.iconlist ul li.icon1_cn:hover {
    width: 40px;
    height: 40px;
    background: url(img/icon_cn1.png) no-repeat 0px -40px;
    vertical-align: middle;
    cursor: pointer;
}

.iconlist ul li.icon2_cn {
    width: 40px;
    height: 40px;
    background: url(img/icon_cn1.png) no-repeat -40px 0px;
    vertical-align: middle;
}

.iconlist ul li.icon2_cn:hover {
    width: 40px;
    height: 40px;
    background: url(img/icon_cn1.png) no-repeat -40px -40px;
    vertical-align: middle;
    cursor: pointer;
}

.iconlist ul li.icon3_cn {
    width: 40px;
    height: 40px;
    background: url(img/icon_cn1.png) no-repeat -80px 0px;
    vertical-align: middle;
}

.iconlist ul li.icon3_cn:hover {
    width: 40px;
    height: 40px;
    background: url(img/icon_cn1.png) no-repeat -80px -40px;
    vertical-align: middle;
    cursor: pointer;
}

@media (max-width:480px) {
    #top-cart {
        margin-top: 35px;
    }
    .location_m_line {
        border-right: none;
    }
}

@media (max-width: 768px) {
    .myFramewheretobuyheight {
        height: 900px;
    }
    #loaction_language {
        padding: 0px;
        width: 100%;
        background-color: #151515;
        overflow: hidden;
    }
    #loaction_language_country {
        background: url(img/location_world_bg.png) no-repeat center top;
        background-size: 100%;
    }
    .lan_iconlink span {
        padding: 10px 0px 0px 6px;
        font-size: 35px;
        float: right;
    }
    .form-control {
        margin-left: 0%;
        width: 100%;
    }
    .leftsubmenulist {
        border-left: 1px solid #111;
        border-radius: 10px;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .tab-content>.tab-pane {
        background-color: #111;
        overflow: hidden;
        font-size: 16px;
        color: #aaa;
    }
    .product_design_font80_top {
        color: #aaa;
        font-size: 40px;
        margin-top: 30%;
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
        padding: 0 15px;
    }
    .product_design_font100 {
        color: #aaa;
        font-size: 50px;
        padding: 0px 15px;
    }
    .product_design_font90 {
        color: #aaa;
        font-size: 45px;
        padding: 0px 15px;
    }
    .product_design_font80 {
        color: #aaa;
        font-size: 40px;
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
        padding: 0px 15px;
    }
    .product_design_font70 {
        color: #aaa;
        font-size: 35px;
        padding: 0px 15px;
    }
    .product_design_font60 {
        color: #aaa;
        font-size: 30px;
        padding: 0px 15px;
    }
    .product_design_font50 {
        color: #aaa;
        font-size: 25px;
        padding: 0px 15px;
    }
    .product_design_font40 {
        color: #aaa;
        font-size: 26px;
        padding: 0px 15px;
    }
    .product_design_font38 {
        color: #aaa;
        font-size: 24px;
        padding: 0px 15px;
    }
    .product_design_font36 {
        color: #aaa;
        font-size: 22px;
        padding: 0px 15px;
    }
    .product_design_font34 {
        color: #aaa;
        font-size: 20px;
        padding: 0px 15px;
    }
    .product_design_font32 {
        color: #aaa;
        font-size: 18px;
        padding: 0px 15px;
    }
    .product_design_font30 {
        color: #aaa;
        font-size: 16px;
        padding: 0px 15px;
    }
    .product_design_font28 {
        color: #aaa;
        font-size: 16px;
        padding: 0px 15px;
    }
    .product_design_font26 {
        color: #aaa;
        font-size: 16px;
        padding: 0px 15px;
    }
    .product_design_font24 {
        color: #aaa;
        font-size: 16px;
        padding: 0px 15px;
    }
    .product_design_font22 {
        color: #aaa;
        font-size: 14px;
        padding: 0px 15px;
    }
    .product_design_font20 {
        color: #aaa;
        font-size: 14px;
        padding: 0px 15px;
    }
    .product_design_font18 {
        color: #aaa;
        font-size: 14px;
        padding: 0px 15px;
    }
    .product_design_font16 {
        color: #aaa;
        font-size: 12px;
        padding: 0px 15px;
    }
    .product_design_font14 {
        color: #aaa;
        font-size: 12px;
        padding: 0px 15px;
    }
    .product_design_font12 {
        color: #aaa;
        font-size: 12px;
    }
    .font_color_white {
        color: #ffffff;
    }
    .font_color_black {
        color: #000000;
    }
    .font_color_shenhui {
        color: #555555;
    }
    .font_color_green {
        color: #009d86;
    }
    .border_color_white {
        border: 1px solid #ffffff;
    }
    .font_color_blue {
        background-image: -webkit-gradient(linear, left 0, right 0, from(rgba(29, 255, 255, 1)), to(rgba(14, 88, 133, 1)));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .border_color_black {
        border: 1px solid #000000;
    }
    .border_color_shenhui {
        border: 1px solid #555555;
    }
    .border_color_red {
        border: 1px solid #ff0000;
    }
    .border_color_blue {
        border: 1px solid #0000ff;
    }
    .border_color_yellow {
        border: 1px solid #fff000;
    }
    .border_color_green {
        border: 1px solid #00ff00;
    }
    .product_design_floatbgcolor {
        background-color: #000;
        background: -moz-linear-gradient(180deg, #000, transparent 80%);
        background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#000), to(transparent));
    }
    .pagenavigate {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color: #555;
        float: left;
        margin: 0 2px;
    }
    .pagenext,
    .pagelast,
    .pagefirst,
    .pagepre {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        float: left;
        margin: 0 1px;
    }
    .pagenavigate a {
        width: 40px;
        height: 40px;
        color: #acacac;
        text-decoration: none;
    }
    .pagenext a,
    .pagelast a,
    .pagefirst a,
    .pagepre a {
        width: 40px;
        height: 40px;
        color: #666;
        font-size: 12px;
        text-decoration: none;
    }
    .pagenavigateon {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #eee!important;
        background-color: #009d86;
    }
    .pagenavigateon a {
        color: #fff;
        text-decoration: none;
    }
    .padding0 {
        padding: 0px;
    }
    .padding10 {
        padding: 10px;
    }
}

@media (max-width: 992px) {
    .leftsubmenulist {
        border-left: 1px solid #111;
        border-radius: 10px;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .padding0 {
        padding: 0px;
    }
    .padding10 {
        padding: 10px;
    }
}

@media (min-width: 992px) {
    #primary-menu ul li .mega-menu-content-awards {
        width: 590px;
        top: 50px;
    }
    .padding0 {
        padding: 0px;
    }
    .padding10 {
        padding: 10px;
    }
}