/* banner start yzc */
.section{
    padding-bottom: 100px;
    padding-top: 150px;
    background-color: rgba(0, 0, 0, 0);
    height: 450px;
    width: 100%;
    background: url(../img/cacen_banner.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.ban_zz{
    position: absolute;
    height: 450px;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    opacity: 0.30000000000000004;
    z-index: 0;
    bottom: 0px;
    right: 0px;
    top: 0px;
    left: 0px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.ban{
    display: -webkit-flex;
    flex-direction: column;
    display: flex;
    flex: 1 1 0%;
    /* align-items: flex-end; */
}
.ban_sec{
    padding: 2vw 4vw 4vw;
    color: white;
    text-align: right;
    background-color: rgba(0, 0, 0, 0);
    width: 70%;
    padding-bottom: 2vw;
    z-index: 3;
    display: -webkit-flex;
    display: flex;
    transform: translateY(50px);
    opacity: 0;
}
.ban_dh{
    animation: ban_dh 1s forwards;
}
.ban_sec .h1{
    line-height: 1em;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 10px 5px 5px;
    text-align: left;
    color: rgb(255, 255, 255);
}
.ban_sec .p2{
    line-height: 1.3em;
    padding: 0px 5px;
    margin-bottom: -30px;
    font-size: 18px;
    text-align: left;
    color: rgb(247, 245, 245);
    font-weight: lighter;
}
@keyframes ban_dh{
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
/* banner end yzc */

/* content start yzc */
/* con1 start yzc */
.con1_r{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    margin-bottom: 0px;
}
.con1_kj{
    background-size: cover;
    background-position: 50% 50%;
    height: 100%;
    background-repeat: no-repeat;
    text-align: center;
    padding: 30px 15px 20px;
    min-height: 300px;
}
.con1_h4{
    color: #fff;
    font-weight: bold;
}
.con1_p{
    color: #fff;
}
.con1_h6{
    color: #fff;
    background-color: #000;
    padding: 3px 0;
}
/* con1 end yzc */
.con_top{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(217, 217, 217);
    min-height: 20px;
    margin: 0px 200px 20px;
    padding-left: 0px;
}
.con_top1{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(217, 217, 217);
    min-height: 20px;
    margin: 70px 200px 50px;
    margin-right: 200px;
}
.con_top1 .h2{
    margin-top: 10px;
    line-height: 1em;
    color: #050404;
    font-size: 30px;
    font-weight: bold;
}
.con_top1 .hr{
    flex: 1 1 0%;
    margin-left: 20px;
    margin-right: 20px;
    border-top-color: currentcolor !important;
}
.con_top .h2{
    margin-top: 10px;
    line-height: 1em;
    color: #050404;
    font-size: 30px;
    font-weight: bold;
}
.con_top .hr{
    flex: 1 1 0%;
    margin-left: 20px;
    margin-right: 20px;
    border-top-color: currentcolor !important;
}
#top{
    background-color: rgb(51, 51, 51);
    height: 180px;
    padding-top: 40px;
    position: absolute;
    overflow: visible;
    z-index: 2;
    width: 100%;
}
.top_h4{
    margin: 0px 100px;
    padding-top: 0px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 36px;
}
.conw{
    position: relative;
    z-index: 5;
    padding: 0 1px;
    background-color: #FBFBFC;
}
.con_xxk{
    background-color: #fff;
    padding: 0;
    border: 2px solid #FAFAF6;
    transition: all 0.1s;
}
.con_xxk_bo{
    padding: 20px 0;
}
.con_xxk:hover{
    transform: scale(1.1);
    background-color: orange;
    border: 2px solid orange;
    z-index: 3;
}
.con_xxk1{
    transform: scale(1.1);
    background-color: orange;
    border: 2px solid orange;
    z-index: 3;
}
.c-img{
    height: 40px;
    width: auto;
    display: block;
    margin: 0 auto;
}
.con_xxk_h3{
    font-size: 18px;
    color: #333;
    margin: 20px 0 10px;
    text-align: center;
}
.con2_l{
    padding: 30px 30px 30px 15px;
    margin: 15px 0;
    border: 1px solid #CCC;
    overflow: hidden;
    height: 250px;
}
.con2_left{
    width: 40%;
    float: left;
    text-align: center;
    height: auto;
    margin-top: 30px;
}
.con2_right{
    width: 60%;
    float: left;
    text-align: left;
    height: auto;
}
.con2_top{
    width: 100%;
    height: auto;
    float: both;
}
.con2_top img{
    float: left;
}
.con2_top h4{
    float: left;
    margin: 10px 0 10px 10px;
}
.con2_bottom{
    width: 100%;
    float: left;
    margin-top: 20px;
}
.con2_im{
    margin-top: 5px;
    margin-bottom: 4px;
    height: 40px;
    width: auto;
}
.con2_h4{
    color: #828386;
    font-size: 18px;
}
.con2_p{
    color: #828386;
    margin-bottom: 30px;
}
.col-xs-2_4{
    width: 20%;
}
/* con3 */
.con3_l{
    padding: 15px 60px 15px;
    margin: 15px 0;
    border: 1px solid #CCC;
    overflow: hidden;
    min-height: 80px;
    position: relative;
}
.con3_top{
    width: 100%;
    height: auto;
    float: both;
}
.con3_top img{
    float: left;
}
.con3_top div{
    margin: 10px 0 10px 40px;
}
.con3_top h4{
    margin: 10px 0 10px 40px;
    color: #FAA41A;
}
.con3_top p{
    margin: 10px 0 10px 40px;
    font-size: 14px;
    color: #fff;
}
/* con3 */
/* con4 */
.con4_xxk{
    padding: 5px 15px;
    border: 1px solid rgb(255, 255, 255);
    border-bottom-color: #000;
    height: 60px;
    text-align: center;
    line-height: 55px;
    color: #000;
}
.con4_xxk:hover{
    animation: c4bk 0.1s forwards;
}
.con4_xxk1{
    border-color: rgb(255, 153, 0,0.3);
    border-bottom-color: #000;
    color: rgb(255, 153, 0,1);
}
@keyframes c4bk{
    0%{
        border-color: rgb(255, 255, 255);
        border-bottom-color: #000;
        color: #000;
    }
    100%{
        /* border: 1px solid rgba(255, 153, 0, 0.3); */
        border-color: rgba(255, 153, 0, 0.3);
        border-bottom-color: #000;
        color: rgb(255, 153, 0,1);
    }
}
.con4_h4{
    padding-bottom: 10px;
    font-weight: bold;
    text-align: center;
    border-bottom: solid #000 1px;
}
.con4_k1{
    padding: 30px 0;
}
.con4_3_liangbian{
    width: calc(28.33% - 30px);
}
.con4_3_middle{
    width: 48.33%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.con4_li{
    padding: 30px 15px;
    margin-bottom: 15px;
    background-color: #FAFAFA;
}
.con4_4_left{
    float: left;
}
.con4_4_right{
    float: left;
    padding: 0 15px;
}
/* con4  */
/* content end yzc */