/* banner start yzc */
.section{
    padding-bottom: 100px;
    padding-top: 150px;
    background-color: rgba(0, 0, 0, 0);
    height: 450px;
    width: 100%;
    background: url(../img/business_banner.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.ban_sec{
    position: relative;
    z-index: 1;
    padding: 2vw;
    color: white;
    text-align: center;
    width: 100%;
}
.ban_zz{
    position: absolute;
    height: 450px;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    opacity: 0.30000000000000004;
    z-index: 0;
    bottom: 0px;
    right: 0px;
    top: 0px;
    left: 0px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.section .h1{
    font-size: 36px;
    margin: 0 0 10px;
}
.section .h1::after{
    content: "─";
    display: block;
    line-height: 10px;
}
.section .p2{
    margin: 0px 400px 5px 340px;
}
/* banner end yzc */
/* content start yzc */
.con_top{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(217, 217, 217);
    min-height: 20px;
    margin: 70px 80px 20px;
    padding-left: 0px;
}
.con_top .h2{
    margin-top: 10px;
    line-height: 1em;
    color: #050404;
}
.con_top .hr{
    flex: 1 1 0%;
    margin-left: 20px;
    margin-right: 20px;
    border-top-color: currentcolor !important;
}
/* con1 start yzc */
.con1_gundong{
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding-bottom: 15px;
    background-color: rgba(0, 0, 0, 0);
    min-height: 100px;
}
.con1_shuzi{
    justify-content: center;
    padding: 20px 15px 10px;
    min-height: 50px;
}
.con1_shuzi_h1{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.con1_h4{
    font-weight: normal;
    margin-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
.con1_p{
    text-align: center;
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
}
/* con1 end yzc */
/* con2 start yzc */
.col-lg-2_4{
    width: 20%;
    padding: 0 15px 0;
}
.con4_tp{
    width: 100%;
    height: 100%;
    display: block;
    padding-top: 64%;
}
.con4_tp1{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/busi_con4_1.png);
}
.con4_tp2{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/busi_con4_2.png);
}
.con4_tp3{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/busi_con4_3.png);
}
.con4_tp4{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/busi_con4_4.png);
}
.con4_tp5{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/busi_con4_5.png);
}
.con4_tp6{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/busi_con4_6.png);
}
.con4_tpf:hover{
    -webkit-box-shadow: rgba(0, 0, 0, 0.188235) 0px 17px 50px 0px;
    box-shadow: rgba(0, 0, 0, 0.188235) 0px 17px 50px 0px;
    -webkit-transform: translate3d(0px, -2px, 0px);
    transform: translate3d(0px, -2px, 0px);
    -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition: All 0.3s ease;
    transition: All 0.3s ease;
    z-index: 10;
}
/* con2 end yzc */
/* content end yzc */