/* banner start yzc */
.section{
    padding-bottom: 100px;
    padding-top: 150px;
    background-color: rgba(0, 0, 0, 0);
    height: 450px;
    width: 100%;
    background: url(../img/Property_banner.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.ban_sec{
    position: relative;
    z-index: 1;
    padding: 2vw;
    color: white;
    text-align: center;
    width: 100%;
}
.ban_zz{
    position: absolute;
    height: 450px;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    opacity: 0.30000000000000004;
    z-index: 0;
    bottom: 0px;
    right: 0px;
    top: 0px;
    left: 0px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.section .h1{
    font-size: 36px;
    margin: 0 0 10px;
}
.section .h1::after{
    content: "─";
    display: block;
    line-height: 10px;
}
/* banner end yzc */

/* content start yzc */
.con_top{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(217, 217, 217);
    min-height: 20px;
    margin: 70px 80px 20px;
    padding-left: 0px;
}
.con_top .h2{
    margin-top: 10px;
    line-height: 1em;
    color: #050404;
}
.con_top .hr{
    flex: 1 1 0%;
    margin-left: 20px;
    margin-right: 20px;
    border-top-color: currentcolor !important;
}
.p1{
    text-align: center;
    margin-bottom: 50px;
    color: #666666;
}
.c-img{
    display: block;
    height: auto;
    width: auto;
    max-width: 100%;
    margin: 0 auto;
}
/* content end yzc */
/* con2 start yzc */
.col-lg-2_4{
    width: 20%;
}
.con2_tp{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.con2_tp0{
    background-image: url(../img/Pro_con2_1.png);
}
.active .con2_tp0{
    background-image: url(../img/Pro_con2_2.png);
}
.con2_tp1{
    background-image: url(../img/Pro_con2_3.png);
}
.active .con2_tp1{
    background-image: url(../img/Pro_con2_4.png);
}
.con2_tp2{
    background-image: url(../img/Pro_con2_5.png);
}
.active .con2_tp2{
    background-image: url(../img/Pro_con2_6.png);
}
.con2_tp3{
    background-image: url(../img/Pro_con2_7.png);
}
.active .con2_tp3{
    background-image: url(../img/Pro_con2_8.png);
}
.con2_tp4{
    background-image: url(../img/Pro_con2_9.png);
}
.active .con2_tp4{
    background-image: url(../img/Pro_con2_10.png);
}
.con2_coling{
    height: auto;
    padding: 150px 0 150px 0;
    margin-bottom: 0px;
}
.con2_coling1{
    background-image: url(../img/Pro_con2_rowing1.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.con2_coling2{
    background-image: url(../img/Pro_con2_rowing2.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.con2_coling3{
    background-image: url(../img/Pro_con2_rowing3.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.con2_coling4{
    background-image: url(../img/Pro_con2_rowing4.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.con2_coling5{
    background-image: url(../img/Pro_con2_rowing5.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.con2_h4{
    color: rgb(255, 255, 255);
    width: 460px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 100px;
    background-color: rgba(253, 164, 19, 0.5);
    margin-bottom: 30px;
}
.con2_p{
    color: rgb(242, 240, 240);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* con2 end yzc */