/***********通用样式begin****************************/
body{
    color:#000;
}
a:hover{
    text-decoration:none;
}
ul{
    list-style: none;
}
/* 设置字体 */
@font-face{
    font-family:lk;src:url("../font/glyphicons-halflings-regular.ttf"),
    url("../font/glyphicons-halflings-regular.woff"),
    url("../font/glyphicons-halflings-regular.svg");
}
/***********通用样式end****************************/

/***********头部begin****************************/
#lk_header{}
#lk_header .top-bar{
    /* background-color:#ff0;  */
    height:40px;
    line-height:39px;
    border-bottom: 1px solid #e0e0e0;
}
#lk_header .top-bar  .container .row>div+div{
    border-left:1px solid #e0e0e0;  
}
#lk_header .top-bar  .container .row .top-bar-1 a{
    position: relative;
}
#lk_header .top-bar  .container .row .top-bar-1 a img{
    position:absolute;
    top:39.5px;
    left:50%;
    transform:translateX(-50%);
    display:none;
}
#lk_header .top-bar  .container .row .top-bar-1 a:hover img{
    display:block;
    z-index:999;
}
#lk_header .top-bar  .container .row .top-bar-1 a span{
    color:#979297;
}
.icon-phone::before{
    content:'\e958';
    font-size:15px;
    color:#979292;
}
.icon-tel::before{
    content:'\e942';
}
#lk_header .top-bar  .container .row .top-bar-3 a {
    color:#979292;
}

/* 导航（下部分） */
 #lk_header .navbar-lk{
    border-bottom: 1px solid #e0e0e0;
    /* bdb+回车：下边框 */
 } 
#lk_header .navbar-lk .navbar-brand{
    height:90px;
}
#lk_header .navbar-lk .navbar-brand img{
    height:90px;
    width:170px;
    margin-left:10px;
    margin-right:50px;
} 
#lk_header .navbar-lk .navbar-nav>li>a{
    margin-right:12px;
    display:flex;
    justify-content:center;
    align-content: center;
    /* height:10px; */
}
#lk_header .navbar-lk .navbar-nav>li>a:hover{
    border-bottom: 2px solid rgb(165, 27, 124);
}
#lk_header .navbar-lk .navbar-toggler{
    margin-top: 22px;
}
/* ds */
/***********头部end****************************/


/***********轮播图begin****************************/
#lk_carousel{
    /* background-color:#0f0;  */
}
/***********轮播图end****************************/


/***********热门课程begin****************************/
#lk_hot .container .media img{
    /* background-color:#0ff;  */
    width:50px;
    height:50px;
}
/***********热门课程end****************************/


/***********产品介绍begin****************************/
#lk_product{
    background-color:#f0f0f0;
    padding:40px 0;
}
#lk_product .nav-item{
    font-size:18px;
}
#lk_product .nav  a{
    color:#000;
    padding:10px 20px; 
    /*padding:10px 20px; :文字上下间距10px,左右20px  */
}
#lk_product .nav  a.active{
    /* a.active:链接a选中 */
    border:none;
    background-color: transparent;      
    border-bottom: 2px solid #8330F0;
    color: #8330F0;
    /* -------------------------------------------------------------------------------文字下划线紫色效果 */
}
#lk_product .tab-content{
    padding:40px 0;
}
#lk_product .tab-content #pd_one_1 div{
    font-size:22px;  
}
#lk_product .tab-content #pd_one_2{
    font-size:22px;  
    padding:40px 0;
}
#lk_product .tab-content #pd_one_3{
    padding:-40px 0;
}
#lk_product .tab-content #pd_one_4{
      padding:140px 30px;
      margin-left:-667px;
}
/* #lk_product .tab-content .col-md-4 img{
     /* float:right; */
     /* margin-left:523px;
     margin-top:-354px;
} */ 
/***********产品介绍end****************************/


/***********关于我们begin****************************/
#lk_about .col-lg-8 p{
    /* background-color:#00f;  */
    font-size:20px;
    color:#000;
}
/***********关于我们end****************************/


/***********友情链接begin****************************/
#lk_link a img{
    /* background-color:#0f0;  */
    margin-right:50px;
}
/***********友情链接end****************************/


/***********尾部begin****************************/
#lk_footer{
    background-color:#000;
    /* height:100px;  */
    color:#fff;
}
#lk_footer a{
    font-size:20px;
}
 
#lk_footer .container .row{

}
#lk_footer .container .row a{
    color:#fff;
    /* justify-content: center */
}

/***********尾部end****************************/