.top-bar{
    background-color: #000;
}
.top-bar a{
    padding: 15px 0;
    color:#fff;
}
.top-bar span{
    color:#fff;
    padding: 15px 0;
}

/* <!-- 导航开始 --> */
.daohang  {
    padding:10px 20px;
}
.daohang img{
    padding:0 20px;
}
.daohang a{
    color: #000;
}
/* <!-- 导航结束 --> */
/* <!-- 搜索开始 --> */
.sousuo .input-group-prepend{
    padding: 0 0 0 40px;
}
/* <!-- 搜索结束 --> */

 /* <!-- 背景图开始 --> */
.beijing{
    background: url(../img/bg.3f6913e6.jpg) no-repeat;
    width: 100%;
    height: 720px;
    display: block;
}
.beijing img{
  margin-top: 80px;
}
.beijing  p{
font-size: 65px;
color: #fff;
}
.beijing .kuai{
    padding: 10px 0;
}
.beijing .baise{
    background-color: #fff;
    z-index: 999;
    width: 12px;
    height: 12px;
    color: #fff;
}
.beijing   span{
    color: #fff;
    font-size: 20px;
    /* padding: 25px 0; */
}
.beijing  .yuanjiao{
    width: 176px;
    height:42px ; 
    background-color: #fff;
    border-radius: 15px ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.beijing   a{
    font-size: 30px;
     color:#fff;
}
.beijing   a p{
    color:#fff;
    font-size: 35px;
    padding: 20px 0;
}
/* <!-- 背景图结束--> */

/* <!-- 表单开始 --> */
.biaodan{
    width: 450px;
    height: 656px;
    background-color: #fff;
    border-radius: 18px ;
   margin-top: 50px;
   margin-left: 110px;
}
.biaodan p{
    font-size: 28px;
    color: #000;
    text-align: center;
     padding: 20px 0 0 0 ;
 
}
.beijing .biaodan span{
    color: #777;
    text-align: center;
    display: block;  
}
.beijing .biaodan form{
    padding: 0 80px;
  
    
}
.biaodan .last p{
font-size: 13px;
}
/* <!-- 表单结束--> */
.footer{
    background-color: #0058a3;
}
 
.footer p{
    color: #fff;
}
.footer .lianjie{
    font-size: 15px;
    padding: 30px 30px;
}
 
.footer .ge{
    padding: 30px 50px;
}
.footer .webo{
    padding: 0 450px;
}
.footer .last{
    padding: 40px 250px;
}
.footer span{
    padding: 0px 182px;
}