.top-bar{
    background-color: #000;
}
.top-bar a{
    padding: 15px 0;
    color:#fff;
}
.top-bar span{
    color:#fff;
    padding: 15px 0;
}

/* <!-- 导航开始 --> */
.daohang  {
    padding:10px 20px;
}
.daohang img{
    padding:0 20px;
}
.daohang a{
    color: #000;
}
/* <!-- 导航结束 --> */
/* <!-- 搜索开始 --> */
.sousuo .input-group-prepend{
    padding: 0 0 0 40px;
}
.sousuo  p a{
     color: #0058a3;
}
.sousuo p{
    color: #000;
   padding: 15px 40px;
}
/* <!-- 搜索结束 --> */
/* <!-- 标题开始 --> */
.biaoti h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 0 0;
}
.biaoti p{
    color: #000;
    text-align: center;
}
.biaoti img{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* <!-- 标题结束 --> */

/* <!-- 人气产品开始 --> */
.renqi img{
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 30px;
}
.renqi h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 0 0;
}
.renqi h3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 0 0;
}
.renqi h5{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 0 0;
}
.renqi p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 0 0;
    color: #000;
}
.renqi span{
    color: #000;
    text-align: center;
    display: block;
}
.renqi  .ch{
    width: 152px;
    height: 45px;
    border: 1px #0058a3 solid;
    color: #0058a3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 700px;
    margin-top: 120px;
    margin-bottom:50px ;

}
/* <!-- 人气产品结束 --> */

/*   <!-- 分享页面开始 --> */
.fenxiang{
   padding: 30px 20px;
    text-align: center;
}
.fenxiang p{
    padding: 0px 20px;
}
/*   <!-- 分享页面结束  --> */
.footer{
    background-color: #0058a3;
}
 
.footer p{
    color: #fff;
}
.footer .lianjie{
    font-size: 15px;
    padding: 30px 30px;
}
 
.footer .ge{
    padding: 30px 50px;
}
.footer .webo{
    padding: 0 450px;
}
.footer .last{
    padding: 40px 250px;
}
.footer span{
    padding: 0px 182px;
}